{minimum_otp_vsn, "27.0"}.

{erl_opts, [debug_info]}.

{deps, [
    gproc,
    flatlog,
    logger_colorful,
    %% it is only required for the tests!
    {pbkdf2,
        {git, "https://github.com/Leapsight-oss/erlang-pbkdf2.git", {branch, "master"}}
    },
    {maps_utils,
        {git, "https://github.com/Leapsight/maps_utils.git", {tag, "1.1.0"}}
    },
    {wamp,
        {git, "https://github.com/Leapsight/wamp.git", {branch, "feature/alejandro-miguez.upgrade_otp27"}}
    },
    {wamper,
        {git, "https://github.com/aramallo/wamper", {branch, master}}
    },
    jsone,
    msgpack,
    backoff
]}.


{relx, [
    {release, {wamp_client, "2.0.0"}, [
        %% Erlang/OTP
        crypto,
        kernel,
        stdlib,
        sasl,
        %% --------------
        backoff,
        flatlog,
        gproc,
        maps_utils,
        msgpack,
        wamp,
        wamper,
        wamp_client
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {overlay, []}
]}.

{profiles, [
    {dev, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {sys_config, "./config/sys.config"}
        ]}
    ]},
    {lint, [
        {plugins, [
            rebar3_lint
        ]}
    ]},
    {test, [
        {erl_opts, [debug_info, export_all]},
        {deps, [
            meck,
            {eqwalizer_support,
                {
                  git_subdir,
                  "https://github.com/whatsapp/eqwalizer.git",
                  {tag, "v0.25.3"},
                  "eqwalizer_support"
                }
            }
        ]}
    ]}
]}.


{alias, [
    {test, [ct]},
    {check, [ct, xref, dialyzer, cover]}
]}.


{project_plugins, [
    rebar3_auto,
    rebar3_ex_doc,
    rebar3_hex
]}.

{shell, [
    {config, "config/dev/sys.config"},
    {apps, [
        crypto, sasl, msgpack, wamp, wamper, wamp_client
    ]}
]}.


{ct_opts, [{sys_config, "config/dev/sys.config"}]}.

{elvis, [
    #{
        dirs => ["src"],
        filter => "*.erl",
        rules =>
            [%% {elvis_style, line_length,
             %%  #{ignore => [],
             %%    limit => 80,
             %%    skip_comments => false}},
             {elvis_style, no_tabs},
             {elvis_style, no_trailing_whitespace},
             {elvis_style, macro_names, #{ignore => []}},
             %% {elvis_style, macro_module_names},
             {elvis_style, operator_spaces, #{
                rules => [{right, ","}, {right, "++"}, {left, "++"}]}},
             %% {elvis_style, nesting_level, #{level => 3}},
             {elvis_style, god_modules, #{limit => 25, ignore => []}},
             {elvis_style, no_if_expression},
             %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
             {elvis_style, used_ignored_variable},
             {elvis_style, no_behavior_info},
             {elvis_style,
              module_naming_convention,
              #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$", ignore => []}},
             {elvis_style, function_naming_convention, #{regex => "^([a-z][a-z0-9]*_?)*$"}},
             {elvis_style, state_record_and_type},
             {elvis_style, no_spec_with_records}
    ]},
    %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
    %% {elvis_style, no_debug_call, #{ignore => []}}
    #{
        dirs => ["."],
        filter => "Makefile",
        rules => [
            {elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
            {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}
        ]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        rules => [
            {elvis_project, no_deps_master_rebar, #{ignore => [awre, wamper]}},
            {elvis_project, protocol_for_deps_rebar, #{ignore => []}}
        ]
    }
]}.


{format, [
    {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.


{dialyzer, [
    {warnings, [race_conditions, no_return, unmatched_returns, error_handling]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local}]
}.
