{minimum_otp_vsn, "27.0"}.

{erl_opts, [debug_info]}.

{deps, [
    gproc,
    flatlog,
    logger_colorful,
    {maps_utils,
        {git, "https://github.com/Leapsight/maps_utils.git", {tag, "1.1.0"}}
    },
    {wamp,
        {git, "https://github.com/Leapsight/wamp.git", {branch, "develop_otp27"}}
    },
    jsone,
    msgpack,
    backoff
]}.


{relx, [
    {release, {wamp_client, "2.0.0"}, [
        %% Erlang/OTP
        crypto,
        kernel,
        stdlib,
        sasl,
        %% --------------
        backoff,
        flatlog,
        gproc,
        maps_utils,
        msgpack,
        wamp,
        wamp_client
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {overlay, []}
]}.

{profiles, [
    {dev, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {sys_config, "./config/sys.config"}
        ]}
    ]},
    {lint, [
        {plugins, [
            rebar3_lint
        ]}
    ]},
    {test, [
        {erl_opts, [debug_info, export_all]},
        {deps, [
            meck,
            {eqwalizer_support,
                {
                  git_subdir,
                  "https://github.com/whatsapp/eqwalizer.git",
                  {tag, "v0.25.3"},
                  "eqwalizer_support"
                }
            }
        ]}
    ]}
]}.


{alias, [
    {test, [ct]},
    {lint, [lint]},
    {elvis, [{elvis, rock}]},
    {fmt, [format]},
    {check, [ct, xref, dialyzer, cover]}
]}.


{project_plugins, [
    rebar3_auto,
    rebar3_ex_doc,
    rebar3_hex,
    rebar3_format,
    rebar3_lint
]}.

{shell, [
    {config, "config/dev/sys.config"},
    {apps, [
        crypto, sasl, msgpack, wamp, wamp_client
    ]}
]}.


{ct_opts, [{sys_config, "config/dev/sys.config"}]}.



{format, [
    {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.


{dialyzer, [
    {warnings, [race_conditions, no_return, unmatched_returns, error_handling]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local}]
}.
